<div>
  <div>
    <h4 class="text-center p-4 mb-4">
      ようこそ、ながのCAKEへ!</br>
      このサイトは、ケーキの販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。
    </h4>
  </div>

  <div>
    <h2>新着商品</h2>
      <div class="row">
      <% @items.last(4).each do |item| %>
      <div class="col">
        <div>
          <%= link_to item_path(item) do %>
          <%= attachment_image_tag item, :image, :fill, 200, 200 %>
        </div>
        <div>
          <p><%= item.name %></p>
          <% end %>
          <p>¥<%= item.price %></p>
        </div>
      </div>
      <% end %>
      </div>
  </div>
</div>
