<div>

  <%= attachment_image_tag @items, :image, :fill, 300, 300 %>
  <h4><%= @items.name %></h4>

  <p><%= @items.introduction %></p>
  <div>
    ¥<%= @items.price %>
    <span>(税込)</span>
  </div>


<!--カート機能やる-->



</div>