  <div class="d-inline-flex m-4">
    <h4 class="bg-light px-4 align-items-center">ジャンル編集</h4>
  </div>
  <div class="d-flex">
    <span class="mx-3">ジャンル名</span>
    <span class="mx-3">
        <%= form_with model:@genre, url:admin_genre_path, local:true do |f| %>
        <%= f.text_field :name %>
        <%= f.submit '変更を保存', class: "mx-3 btn btn-success"  %>
      <% end %>
    </span>
  </div>
